#pdfjs_wrap {
  flex-grow: 1;
  /* 남은 공간을 모두 차지 */
  width: 100%;
  /* 부모 컨테이너의 너비 100% */
  border: none;
  overflow-y: scroll;
  /* 세로 스크롤바 항상 표시 */
  overflow-x: auto;
  /* 가로 스크롤바는 필요할 때만 표시 */
  padding: 20px;
  /* 내부 여백 추가 */
  background-color: #f0f0f0;
  /* 배경색 추가 */
  box-sizing: border-box;
  /* padding을 포함한 크기 계산 */
}

#viewerContainer {
  width: 100%;
  height: 100%;
  overflow: visible;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.pdfViewer {
  width: 100%;
  height: 100%;
  overflow: visible;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  cursor: text;
}


/* pdf-annotate.js */
.annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  touch-action: none;
}

.annotationLayer .popupWrapper {
  position: absolute;
  width: 20em;
}

.annotationLayer .popup {
  transform-origin: 0px 0px;
  transform: scale(0.75);
  overflow: auto;
  font-size: 10px;
  position: absolute;
  z-index: 200;
  max-width: 20em;
  background-color: #fff1ce;
  box-shadow: none;
  border: solid 1px #daa529;
  padding: 10px;
  width: calc(120px * var(--scale-factor));
  max-height: 200px;
  margin-left: 9px;
  cursor: pointer;
  font: inherit;
  white-space: normal;
  word-wrap: break-word;
  box-sizing: border-box;
  border-radius: 0;
}

.annotationLayer .popup>* {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}

.annotationLayer .contentPopupDiv {
  margin-top: calc(20px * var(--scale-factor));
}

.annotationLayer .titleDiv {
  width: 100%;
  float: left;
  font-weight: bold;
}

.annotationLayer .popupDateDiv {
  float: left;
  color: rgba(0, 0, 0, 0.4);
}

.annotationLayer .popupDate {
  display: inline-block;
  margin-left: 0px;
}

.annotationLayer .popupContent {
  border-top: none;
  margin-top: 2px;
  padding-top: 2px;
}

.annotationLayer .richText>* {
  white-space: pre-wrap;
}

[contenteditable=true] {
  outline: none;
}

#viewerContainer {
  top: 0;
}