/* %PUBLIC_URL%/libs/pdfjs/web/viewer.css가 먼저 로드되어 있어야 한다. */
// @import url(%PUBLIC_URL%/libs/pdfjs/web/viewer.css);
/* pdf-annotate.js */
.annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  touch-action: none;
}

.annotationLayer .popupWrapper {
  position: absolute;
  width: 20em;
}

.annotationLayer .popup {
  transform-origin: 0px 0px;
  transform: scale(0.75);
  overflow: auto;
  font-size: 10px;
  position: absolute;
  z-index: 200;
  max-width: 20em;
  background-color: #fff1ce;
  box-shadow: none;
  border: solid 1px #daa529;
  padding: 10px;
  // width: 200px;
  width: calc(120px* var(--scale-factor));
  max-height: 200px;
  margin-left: 9px;
  cursor: pointer;
  font: inherit;
  white-space: normal;
  word-wrap: break-word;
  box-sizing: border-box;
  border-radius: 0;
}

.annotationLayer .popup > * {
  font-size: 12px;
  color: rgba(0,0,0,0.8);
}

.annotationLayer .contentPopupDiv {
  // margin-top: 20px;
  margin-top: calc(20px* var(--scale-factor));
}

.annotationLayer .titleDiv {
  width: 100%;
  float: left;
  // margin-right: -65px;
  font-weight: bold;
}

.annotationLayer .popupDateDiv {
  // width: 65px;
  float: left;
  color: rgba(0,0,0,0.4);
}

.annotationLayer .popupDate {
  display: inline-block;
  margin-left: 0px;
  // font-size: 11px;
}

.annotationLayer .popupContent {
  border-top: none;
  margin-top: 2px;
  padding-top: 2px;
}

.annotationLayer .richText > * {
  white-space: pre-wrap;
}

[contenteditable="true"] {
  outline: none;
}

#viewerContainer {
  top: 0;
}

.pdfViewer {
  padding: 12px;
}

body,
input,
button,
select {
  font: inherit;
}

@media print {
  #tool_bar,
  #container > .message_bar,
  #container > .normal_panel,
  #container > .hide_view,
  #status_bar,
  #modal_dialog,
  #modeless_dialog,
  #tool_box,
  #side_bar,
  #dummy_wrap {
    display: none;
  }
}

#pdf-annotate-text-input:empty::before {
  content: attr(default-content);
  color: gray;
}

#pdf-annotate-text-input:focus {
  outline: none;
}

#pdfjs_content {
  width: 100%;
  height: 100%;
}

#pdfjs_sidebar {
  width: 100%;
  height: 100%;
}
